@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  --primary-color1: #111f2b;
  --primary-color2: #397ebb;
  --font-heading1: pacifico;
  --font-general: Arial, Helvetica, sans-serif;

  font-family: var(--font-general);
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0px;
}

.navbar__title {
  position: absolute;
  top: 0px;
  font-family: var(--font-heading1);
  font-weight: 100;
  color: var(--primary-color1);
  text-shadow: 5px 5px 10px var(--primary-color1);
  width: 100vw;
  text-align: center;
  font-size: 32px;
}
