/* audio player */
.audio-player {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 8vh;
  width: max(70vw, 600px);
  margin: auto;
  height: 92vh;
  bottom: 0px;
}

.audio-player p {
  font-size: 14px;
}

/* WaveFrom component */
.wave-form__notes-indicator {
  height: 10px;
}
.wave-form__notes-indicator div {
  position: absolute;
  display: inline-block;
  background-color: blue;
  height: 4px;
  width: 4px;
  border-radius: 2px;
}
.wave-form__timeline {
  border-top: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: grey;
  font-size: 0.7rem;
  margin-bottom: 5px;
}
/* Controls component */
.audio-player__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
.controls__main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.controls__btn {
  margin: 0px max(3%, 10px);
}
.main__btn {
  margin: 0px 5px;
  font-size: 1.3rem;
  color: var(--primary-color1);
  cursor: pointer;
}
.volume-icon {
  display: inline-block;
}
.controls__volume-btn {
  font-size: 1.3rem;
  color: var(--primary-color1);
  cursor: pointer;
}
.controls__volume-btn input {
  width: 120px;
  transform: translateY(-2px);
}
.controls__toggle-btn {
  background-color: var(--primary-color2);
  font-size: 0.8rem;
  width: 85px;
  height: 20px;
  display: flex;
  flex-direction: row;
  padding: 2px 5px 2px 5px;
  border-radius: 20px;
  cursor: pointer;
}
.toggle-btn__status {
  text-align: center;
  font-weight: bold;
}
.toggle-btn__circle {
  position: absolute;
  font-size: 1.7rem;
  color: var(--primary-color1);
  transform: translate(55px, -6px);
  transition: all linear 0.5s;
}
.toggle-btn--translate {
  transform: translate(-10px, -6px);
}
.toggle-btn__status--change {
  text-indent: 15px;
}

/* Notes Component */
.audio-player__notes {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 80%;
  align-self: center;
}

.notes__saved-notes {
  background-color: whitesmoke;
  flex: 1;
  border-radius: 10px 10px 0px 0px;
  padding: 15px 20px;
  overflow: auto;
  max-height: 58vh;
}
.notes__current-note {
  background-color: grey;
  height: 10%;
  border-radius: 0px 0px 10px 10px;
}
.saved-notes__note {
  margin-left: 50px;
  text-indent: -16px;
  margin-bottom: 10px;
}

.saved-notes__note::before {
  display: inline-block;
  position: relative;
  content: attr(data-timestamp);
  transform: translateX(-20px);
}

.notes__current-note {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notes__current-note textarea {
  width: 90%;
  height: 80%;
  font-size: 16px;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
}

.notes__current-note button {
  height: 80%;
  margin-left: 5px;
  background-color: var(--primary-color2);
  border: none;
  border-radius: 10px;
}
.notes__current-note button:hover {
  background-color: var(--hover-color1);
  cursor: pointer;
}
/*scrollbar properties*/
.notes__saved-notes::-webkit-scrollbar {
  width: 0.75em;
}

.notes__saved-notes::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
}
